<%- include('../../partials/header') %>

    <h1>เพิ่ม User</h1>

    <form action="/users/create" method="POST">
        <div>
            <label>ชื่อ:</label>
            <input type="text" name="name" required>
        </div>
        <div>
            <label>Email:</label>
            <input type="email" name="email" required>
        </div>
        <button type="submit">บันทึก</button>
        <a href="/users">ยกเลิก</a>
    </form>

<%- include('../../partials/footer') %>